@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

* {
  box-sizing: border-box; 
  /* font-size: 16px; */
  font-family: 'Questrial', sans-serif;
}

html {
  margin: 0;
}
body {
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
  margin: 0;
  background-color: #f2f3f8;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}

#main > aside {
  flex: 0 0 0vw;
  background: beige;
}
#main > nav {
  order: -1;
  flex: 0 0 0vw;
  display: flex;



}
header, footer {
  background: gray;
  height: 0rem;
  background-color: #fff;
  top: 0;
  position: fixed;
}
header, footer, article, nav, aside {
  padding: 0rem;
}

p {
  text-align: left;
}

main {
  width: 100vw;
  height: 200vh;
  box-sizing: border-box;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #3eb489;
  text-align: right;
  font-size: 1rem;
  
}

.sales-db {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #fff;
}
.content-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 40rem;
}

.input-form {
  background-color:#fff;
  width: 60%;
  margin: 4rem 2rem 4rem 8rem;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.value-return {
  background-color:#fff;
  width: 40%;
  margin: 4rem 8rem 4rem 2rem;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.value-return button {
  color:#fff;
  padding: 1rem;
  margin: 3rem 1rem 1rem 1rem;
  background: #3eb489;
  cursor: pointer;
  border: 1px transparent;
  border-radius: 20px;
  text-decoration: none;

}

/* #myLink {
  color:#fff;
  margin: 3rem;
  padding: 1rem 1rem;
  background: #3eb489;
  cursor: pointer;
  border: 1px transparent;
  border-radius: 4px;
  text-decoration: none;

} */



ul {
  display: flex;
  flex: 0 0 100vw;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100vw;
  justify-content: center;
  align-content: center;
  background: #fff;
  

}

li {
  display: flex;
  list-style-type: none;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
  margin: 0 0 0 0rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  color: black;

}

.title-section { 
  text-align: left;
  margin: 8rem 4rem 1rem 8rem;
}

.title-section h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 8rem, 0rem, 3rem, 0rem;
  color:rgb(59, 59, 59);
}

.title-section p {
  margin: 0rem;
  width: 80%;
  font-size: 1rem;
  color: gray;
  font-weight: 200;
}


h2{
  font-size: 1em;
  text-align: left;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  margin: 2rem 2rem 4rem 2rem;
  color: rgb(59, 59, 59)

}


.home-value {
  font-size: 3.5rem;
  font-weight: 600;
  color: #3eb489;
  margin: 1rem;
}

.home-value-text {
  font-size: 1rem;
  font-weight: 200;
  color: rgb(165, 165, 165);
  margin: 0rem 0rem 1rem 0rem;
}

.question {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  
}

.question label {
  font-size: 1rem;
  color: gray;
  text-align: left;
}

.current-nav-element {
  color: #5741d9;
  font-weight: 600;
}


.value-return h2 {
  font-size: 1em;
  text-align: left;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  margin: 2rem 2rem 9rem 2rem;
  color: rgb(59, 59, 59)
}

.value-return h3 {
  font-size: 1em;
  text-align: left;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  margin: 2rem 2rem 2rem 2rem;
  color: rgb(59, 59, 59)
}

a {
  text-decoration: none;
  color:rgb(59, 59, 59);
}

.home {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #f2f3f8;
}


.dashboard {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #f2f3f8;
}

.dashboard-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-direction: column;
  margin: 2rem 4rem 2rem 4rem;

}

.dashboard-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;

}

.dashboard h1 {
  margin: 4rem 0rem 4rem 6rem;
  align-items: center;
  font-size: 3rem;
  color:rgb(59, 59, 59);
  text-align: left;

}

.sales-chart-small {
  display: flex;
  align-items:stretch;
  flex-direction: column;
  font-size: 0.8rem;
  width: 15%;
  height: 200px;
  background: #5741d9;
  color: #fff;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.sales-chart {
  display: flex;
  align-items:stretch;
  flex-direction: column;
  font-size: 0.8rem;
  width: 44%;
  height: 340px;
  background: white;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.sales-chart h2 {
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1rem;
  color:rgb(59, 59, 59);
  text-align: left;
}

.sales-chart-small h2 {
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1rem;
  color: #fff;
  text-align: left;
}
.sales-chart-small h1 {

  margin: 3rem 1rem 0rem 1rem;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.sales-chart-small-wide {
  display: flex;
  align-items:stretch;
  flex-direction: column;
  font-size: 0.8rem;
  width: 54%;
  height: 200px;
  background: white;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.sales-chart-small-wide h2 {
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1rem;
  color:rgb(59, 59, 59);
  text-align: left;

}

.sales-chart-small-wide p {

  margin: 1rem 1rem 0rem 1rem;
  font-size: 0.8rem;
  color:rgb(59, 59, 59);
  text-align: left;
}

.financial-advisor {
  width: 100vw;
  height: 95vh;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #fff;
}

.valentine {
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: space-evenly;
  background: #ff8ba7; 
  height: 100vh;
  width: 100vw;
}


.valentine-1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(201, 0, 0);
  text-align: center;
}
.valentine-2 {
  font-size: 2.5rem;
  color: rgb(201, 0, 111);
  text-align: center;
  justify-content: center;
}
.valentine-3 {
  font-size: 2.5rem;
  color: rgb(201, 0, 0);
  text-align: center;
  justify-content: center;
}
.valentine-4 {
  font-size: 2.5rem;
  color: rgb(201, 0, 111);
  text-align: center;
  justify-content: center;
}

.middle {

}

.bottom {
  text-align: center;
  justify-content: center;
  color: white;
  font-style: italic;
}